/* SASS variables and functions */

$cell_color: white;
$grid_color: gray;
$active_grid_color: #fe3;

$cell_size: 8.5vmin;
$grid_padding: 1.5vmin;
$grid_spacing: 1.2vmin;
$meta_border: 1vmin;
$line_width: 0.35vmin;

$x_color:  blue;
$o_color:  red;
$x_color_bg:  lighten($x_color, 45);
$o_color_bg:  lighten($o_color, 45);

/* From http://www.stefanwienert.de/blog/2012/05/18/easy-css-vendor-prefix-mixin-for-sass/ */
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/* Page setup, including the vertical centering tricks.
https://css-tricks.com/centering-in-the-unknown/ */

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
}

body {
	text-align: center;
	font-size: 0;
	cursor: default;
	@include vendor-prefix(user-select, none)
}

body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

main {
	vertical-align: middle;
	display: inline-block;
	font-size: 4vmin;
}

/* The grid */

.metagrid {
	background: gray;
	border-collapse: separate;
	border-spacing: $grid_spacing;
	border: $meta_border outset $grid_color;
	text-align: left;
}

.grid {
	background: $cell_color;
}

.grid.active {
	box-shadow: 0 0 5vmin $active_grid_color;
}

.grid.x { background: $x_color_bg; }
.grid.o { background: $o_color_bg;  }

.cell {
	text-align: center;
	vertical-align: middle;
	width:  $cell_size;
	height: $cell_size;
	border: $line_width solid darken($cell_color, 30);
}

.cell.col1 { border-left:   $grid_padding solid $cell_color; }
.cell.col3 { border-right:  $grid_padding solid $cell_color; }
.cell.row1 { border-top:    $grid_padding solid $cell_color; }
.cell.row3 { border-bottom: $grid_padding solid $cell_color; }

.x .cell.col1 { border-left-color:   $x_color_bg; }
.x .cell.col3 { border-right-color:  $x_color_bg; }
.x .cell.row1 { border-top-color:    $x_color_bg; }
.x .cell.row3 { border-bottom-color: $x_color_bg; }

.o .cell.col1 { border-left-color:   $o_color_bg; }
.o .cell.col3 { border-right-color:  $o_color_bg; }
.o .cell.row1 { border-top-color:    $o_color_bg; }
.o .cell.row3 { border-bottom-color: $o_color_bg; }

.active .cell.col1 { border-left-color:   $active_grid_color; }
.active .cell.col3 { border-right-color:  $active_grid_color; }
.active .cell.row1 { border-top-color:    $active_grid_color; }
.active .cell.row3 { border-bottom-color: $active_grid_color; }

.cell.x {color: $x_color; } 
.cell.x:before { content: '\2717'; }
.cell.o {color: $o_color; font-size: 130%; font-weight: bold;}
.cell.o:before { content: '\25EF'; }

/* The log */

footer {
	height: 8vmin;
	margin-top: 1vmin;
	overflow-y: scroll;
	box-shadow: 0 0 1vmin black;
	font-size: 2vmin;
	text-align: left;
}

#log {
	list-style-type: none;
	padding: 0;
}

#log .info { background: lighten(blue, 45) }
#log .error { background: lighten(blue, 45) }