$cell_background_color: white;

html, body, main {
	height: 100%;
	width: 100%;
}

body {
	display: table;
	vertical-align: middle;
}

main {
	position: relative;
	vertical-align: middle;
	display: table-cell;
}

.metagrid {
	width: 90vmin;
	background: $cell_background_color;
	margin: auto;
}

.grid, .cell {
	box-sizing: border-box;
	border-collapse: separate;
	text-align: center;
	vertical-align: middle;
}

.grid {
	padding: 5px;
}

.metagrid > tbody > tr > td, .metagrid {
	border: 4px outset grey;
}

.cell {
	padding: 10px;
	width: 10vmin;
	height: 10vmin;
	background: $cell_background_color;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.15);
}

.cell.col1, .cell.col2 { border-right-style: solid;  }
.cell.row1, .cell.row2 { border-bottom-style: solid; }

